h1 {
  color: rgb(241, 70, 70);
}
h2 {
  color: blue;
}
h3 {
  color: yellow;
}
body {
  background-color: rgb(241, 70, 70);
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navIt {
  float: left;
}

.navIt a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navIt a:hover {
  background-color: #111;
}
